.container {
  border: 2px solid turquoise;
  border-radius: 18px;
  width: 400px;
  min-height: 400px;
  margin-left: 400px;
  margin-top: 100px;
  background-color:white;
  display: flex;
  flex-direction: column;
  box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000;
}

.text-decoration {
  color:black;
  display: flex;
}

.line {
  border-bottom: 1px solid gray;
  margin: 0 15px;
}

.title {
  align-items: center;
  text-align: center;
  color: lightslategray;
  font-stretch: expanded;
  background-color: turquoise;
}

.clear-button {
  width: 100px;
  height: 30px;
  // margin: 10px 0px 10px 250px;
  margin-left:250px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid red;
  outline: 0;
  cursor: pointer;
}

.clear-button:hover {
  background-color:  red;
}

.button-add-thing {
  width: 80px;
  border: 2px solid turquoise;
  border-radius: 10px;
  color: darkslategray;
  height: 35px;
  margin-left: 10px;
  outline: 0;
  cursor: pointer;
  background-color: white;
  margin-right: 10px;
}

.button-add-thing:hover {
  background-color: turquoise;
  border: none;
}

