@import './../../shared/components/main-styles.scss';

.container {
  border: 3px solid $main-color;
  border-radius: 18px;
  width: 400px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color:white;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 8px 5px 8px gray, 30px 10px 5px -90px black;
}

.text-decoration {
  color:black;
  display: flex;
  letter-spacing: 2px;
}

.line {
  border-bottom: 2px solid $main-color;
  margin: 0 15px;
  box-shadow: 1px 1px 1px 1px lightgray, 0px 0px 0px 0px lightgray;
}

.title {
  align-items: center;
  text-align: center;
  color: lightslategray;
  font-stretch: expanded;
  background-color: $main-color;
  letter-spacing: 2px;
}

.clear-button {
  width: 100px;
  height: 30px;
  margin: 13px 0px 10px 250px;
  border-radius: 18px;
  border: 2px solid red;
  @include button-styles;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

.clear-button:hover {
  background-color:  red;
  box-shadow: 0px 0px 0px 0px black, 0px 0px 10px 2px black;
  transform: scale(1.1) rotate(5deg);
}

.button-add-thing {
  border: 2px solid $main-color;
  border-radius: 50%;
  color: darkslategray;
  width: 35px;
  height: 35px;
  font-size: 25px;
  margin-left: 30px;
  @include button-styles;
  background-color: white;
  margin-right: 10px;
  transition: transform 0.5s ease-in-out;
}

.button-add-thing:hover {
  background-color: $main-color;
  border: none;
  box-shadow: 0px 0px 0px 0px black, 0px 0px 10px 2px black;
  transform: scale(1.03);
}

