@mixin row-form {
  display: flex;
  flex-direction: row;
}

@mixin button-check-delete {
  border-radius: 50%;
  outline: 0px;
  cursor: pointer;
  margin-left: 5px;
  height: 17px;
  width: 17px;
}

.row-item {
  @include row-form;
  margin-left: 50px;
  align-items: center;
}

.row-item-completed {
  @include row-form;
  position: relative;
  outline: 0;
  cursor: pointer;
  opacity: .5;
  text-decoration: line-through; 
  margin-left: 50px; 
  align-items: center;
}

.row{
  @include row-form;
  align-items: center;
}

.delete-button {
  @include button-check-delete;
  background-color: white;
  border: 1px solid red;
  color:black;
  margin-top: 5px;
  padding: 0px 0px 2px 2px ;
  margin-left: 14px;
}

.delete-button:hover {
  background-color: red;
}

.check-button {
  @include button-check-delete;
  border: 1px solid green;
  margin-bottom: 15px;
  background-color: green;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  margin-right: 14px;
  margin-top: 20px;
}

.check-button:hover {
  border: 1px solid green;
}
