.input-add-item {
  border: 2px solid turquoise;
  border-radius: 8px;
  height: 30px;
  color: darkgray;
  width: 290px;
  outline: 0;
  margin-left: 10px;
  
}

.input-add-item:focus {
  -webkit-box-shadow: 10px 10px 11px 1px rgba (0,0,0,0,57);
  -moz-box-shadow: 10px 10px 11px 1px rgba (0,0,0,0,57);
  box-shadow: 10px 10px 11px 1px rgba (0,0,0,0,57);
  
}